.about{
    font-size: 1.6rem;
    font-weight: 600;
    h2{
    background: none;
    color: $color__text-main;
    }
   
}

.about-do-grid{ //aligning images
   display: flex;
   flex-direction: column;
   align-items: center;
    li{
        
        width: 250px;
        height: 250px;
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 6rem;
    }
}
.team-member-single{
    p{
        margin-bottom: 0;
    }
    
}

.about-values{
    p{
        text-align: center;
        margin: 0 3rem;
    }
}
.team-grid{
    background: #bfccd0;
    border-radius: 2rem;
    max-width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template: 3fr/ 1fr 1fr;

    text-align: center;
    li{
        margin-top: 3rem;
        &:nth-of-type(5){
            margin-bottom: 4rem;
        }
    }
}

.about-team>p{
    text-align: center;
    margin: 8rem 3rem;
}
.award-container{
    display: flex;
    margin-bottom: 8rem;
 h2{
     text-align: left;
     margin-left: 5rem;
 }
    img{
        width: 300px;
        height: 300px;
        margin-right: 3rem;
    }
}

.awards-grid{
    li {
        position: relative;
        margin: 2rem .5rem;
        &:before{
            content:'\2022';
            font-size:70px;
            position: absolute;
            top: -34px;
            left: -34px; 
        }
        
    }
}
.disclaimer-grid{
    li{
        margin: 4rem 0;
    }
}
.about-refuse{
    h2{
        text-transform: uppercase;
        font-size: 1.8rem;
        font-family: $font__main;
        font-weight: 700;
    }
    p{
        text-align: center;
        margin: 2rem 2rem 8rem;
    }
}