.donate-button {
  font-weight: 400;
  font-size: 1.2rem;
  a {
    @include light-border-btn(50px, 4px 20px);
  }
}
a.donate-button {
  //larger buttons
  @include light-border-btn(20px, 6px 60px);
  border: 5px solid $color__button-yellow;
  font-size: 1.5rem;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 20px;
}

.donate-where a {
  //view annual reports btn
  text-align: center;
  max-width: 30rem;
  @include shadow-btn-bright(12px, 10px 16px, $color__text-main);
}
