/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.social-links {
  //dani: social links
  a {
    font-weight: 100;
    font-size: 2rem;
    color: #fff;
    width: 5rem;
    cursor: pointer;
  }
  background: $color__green_main;
  width: 100%;
  height: 20vh;
  .widget-area {
    display: flex;
    justify-content: space-around;
    margin: 2rem 5rem;
    .custom-html-widget {
      background: $color__button-yellow;
      border-radius: 50%;
      text-align: center;
      box-shadow: 2px 2px #fff;
      &:hover {
        background: $color__link-hover;
        box-shadow: none;
      }
    }
  }
  @include desktop {
    display: none;
  }
}
