
.donate-dropdown-button{
   text-align: center;
   h2{
       margin: 0 auto;
       max-width: 32rem;
       padding: 2rem 0;
   }
   select{
       color: $color__button-dark-green;
       padding: .6rem 2rem .6rem .8rem;
       font-size: 1.3rem;
       font-weight: 400;
       margin-bottom: 3rem;
       border: 4px solid $color__text-main;
       border-radius: .4rem;
       background: url(../../assets/icons/if_ExpandMore_1031518.svg) no-repeat right #fff;
    -webkit-appearance: none;
    background-position-x: 270px;
   }
}

.doate-where-grid{


    & li:nth-child(1){
        img{
            width: 250px;
            height: 250px;
        }
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 6rem;
    }
    & li:nth-child(2){
        img{
            width: 250px;
            height: 250px;
        }
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 6rem;
    }
    & li:nth-child(3){
        img{
            width: 250px;
            height: 250px;
        }
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 6rem;
    }
}