.page-id-21 {
  .section-title {
    background: $color__green_main;
    color: $color__background-body;
    padding: 0.7rem 0rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .title-no-bg {
    margin-top: 2rem;
  }
  .faq-section-grid {
    .faq-section-single:nth-last-child(1) {
      .faq-single-item:nth-last-child(1) {
        .faq-qest-ans-wrapper:nth-last-child(1) p {
          margin-bottom: 4rem;
        }
      }
    }
    h2 {
      text-align: left;
    }
    .section-title {
      padding-left: 2.5rem;
      font-size: 2rem;
      font-weight: 400;
    }
  }
}

.faq-single-item {
  display: flex;
  padding: 0 2rem;
}

.faq-qest-ans-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.faq-bubble {
  background: $color__button-yellow;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  margin-top: 0.5rem;
  padding: 3rem;
  p {
    font-size: 2.5rem;
    font-weight: 600;
    width: 4rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
}
p.faq-answer {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
