.page-id-21 {
  .section-title {
    background: $color__green_main;
    color: $color__background-body;
    padding: 0.7rem 0rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  .title-no-bg {
    margin-top: 2rem;
  }
  .faq-section-grid {
    margin-left: 0;
  }
}
