.page-id-21 {
  .section-title {
    background: $color__green_main;
    color: $color__background-body;
    padding: 0.7rem 0rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .title-no-bg {
    margin-top: 2rem;
  }
  .faq-section-grid {
    margin-left: 0;
  }
}

.faq-bubble {
  background: green;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  text-align: center;
  p {
    padding-top: 1rem;
  }
}
