// .site-footer{
//   background: $color__green_main;
// }
.site-info {
  font-family: 'Montserrat' sans-serif;
  display: grid;
  text-align: center;
  background: $color__green_main;
  color: $color__background-body;
  @include desktop {
    grid-template-columns: repeat(4, auto);
    background: $color__green_main;
  }

  .tel-info a,
  .news a {
    color: $color__background-body;
    border-bottom: 1.2px solid white;
    padding-bottom: 1px;
  }
  .supporter-title {
    margin: 20px 0;
    font-size: 1.5rem;
  }
  //new widget area for contact
  .widget-contact {
    #custom_html-6{
      .textwidget{
        display: flex;
        justify-content: center;
        margin-top: .5rem;
      }

    }
    .textwidget {
      // display: flex;
      a {
        color: #fff;
        text-decoration: underline;
        font-family: $font__main;
        font-size: 1.1rem;
        &:hover{
          color: $color__link-hover;
          transition: 0.2s ease-in-out;
        }
      }
    }
    .address {
      width: 12rem;
      // margin: 0 auto;
    }
  }

  .contact {
    border-top: 2px solid $color__background-body;
    width: 100%;
    padding-top: 1rem;
    border-bottom: 2px solid $color__background-body;
    & > p {
      font-size: 1.5rem;
    }
    h2 {
      // background: red;
      color: #fff;
    }
    .fa-phone {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      margin-right: 10px;
    }
    .contact-address {
      width: 13rem;
      padding-top: 1rem;
      display: inline-flex;
      & > p {
        width: 208px;
      }
      @include desktop {
        display: flex;
      }
    }
    .fa-map-marker-alt:before {
      padding-right: 0.3rem;
      display: inline-block;
    }
    .fas {
      padding-top: 0.4rem;
    }
    & > p {
      margin: 0 0 0 1.2rem;
    }
    @include desktop {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      background: none;
      border: none;
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      padding: 0 1.5rem;
      text-align: left;
    }
  }
}
.news {
  background: $color__green_main;
  // margin: 2rem 0rem;
  padding: 2rem 0;
  color: #fff;
  p{
    font-weight: 600;
  }
  a{
    color: #fff;
    text-decoration: underline;
    &:hover{
      color: $color__link-hover;
      transition: 0.2s ease-in-out;
    }
  }
  text-align: center;
  & > p {
    font-size: 1.5rem;
  }
  @include desktop {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    background: none;
    display: flex;
    flex-direction: column;
    padding: 0 7rem;
    a {
      width: 12rem;
      margin: 0 auto;
    }
  }
}
.support {
  @include desktop {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    background: none;
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
  }

  .donate-button {
    @include desktop {
      @include light-border-btn($bord-rad: 15px, $pad: 6px 9px);
      width: 12rem;
      border-width: 5px;
      margin: 0 auto;
    }
  }

  // @include desktop {
  //   .social-links {
  //     grid-column: 2 / span 1;
  //     grid-row: 1 / span 1;
  //     background: none;
  //     display: flex;
  //     flex-direction: column;
  //   }
  // }
}
.site-footer .social-links {
  //showing social buttons for desktop size
  display: none;
  @include desktop {
    display: block;
    margin-top: 2rem;
    .widget-area {
      margin: 0;
      .widget {
        width: 48px;
        margin: 1rem 0.2rem;
      }
    }
    h2 {
      color: #fff;
      font-weight: 200;
    }
  }
}
