// .site-footer{
//   background: $color__green_main;
// }
.site-info {
  font-family: 'Montserrat' sans-serif;
  display: grid;
  text-align: center;
  background: $color__green_main;
  color: $color__background-body;
  @include desktop-lg {
    grid-template-columns: repeat(4, auto);
    background: $color__green_main;
  }
  @include desktop {
    grid-template-columns: repeat(2, auto);
  }
  //new widget area for contact
  .widget-contact {
    #custom_html-6 {
      .textwidget {
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
        @include desktop-lg {
          justify-content: flex-start;
        }
      }
    }
    #custom_html-5 {
      .textwidget {
        display: flex;
        padding-top: 1rem;
        justify-content: center;
        @include desktop-lg {
          justify-content: start;
        }
      }
    }
    .textwidget {
      // display: flex;
      a {
        color: #fff;
        text-decoration: underline;
        font-family: $font__main;
        font-size: 1.1rem;
        &:hover {
          color: $color__link-hover;
          transition: 0.2s ease-in-out;
        }
      }
    }
    .address {
      width: 12rem;
      // margin: 0 auto;
    }
  }

  .contact {
    border-top: 2px solid $color__background-body;
    width: 100%;
    padding-top: 1rem;
    border-bottom: 2px solid $color__background-body;
    & > p {
      font-size: 1.5rem;
    }
    h2 {
      color: #fff;
      font-weight: 400;
    }
    .fa-phone {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      margin-right: 10px;
    }
    .fa-map-marker-alt:before {
      padding-right: 0.3rem;
      display: inline-block;
    }
    .fas {
      padding-top: 0.4rem;
    }
    & > p {
      margin: 0 0 0 1.2rem;
    }
    @include desktop-lg {
      background: none;
      border: none;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      padding-left: 3vw;
      text-align: left;
      h2 {
        text-align: left;
      }
    }
    @include desktop{
      background: none;
      border: none;
    }
  }
}
.news {
  background: $color__green_main;
  padding: 2rem 0;
  color: #fff;
  p {
    font-weight: 400;
  }
  a {
    text-decoration: underline;
    color: $color__background-body;
    padding-bottom: 1px;
    &:hover {
      color: $color__link-hover;
      transition: 0.2s ease-in-out;
    }
  }
  text-align: center;
  & > p {
    font-size: 1.5rem;
  }
  @include desktop{
    padding: 0;
}
    @include desktop-lg {
      padding: 2rem 0;
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
      background: none;
      display: flex;
      flex-direction: column;
      .news-title {
        margin-bottom: 2rem;
      }
      a {
        width: 12rem;
        margin: 0 auto;
      }

    }

  }
.support {
  .supporter-title {
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: 400;
  }
  @include desktop-lg {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    background: none;
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
  }

  .donate-button {
    @include desktop-lg {
      @include light-border-btn($bord-rad: 15px, $pad: 6px 9px);
      width: 12rem;
      border-width: 5px;
      margin: 0 auto;
    }
  }

}
.site-footer .social-links {
  //showing social buttons for desktop-lg size
  display: none;

  @include desktop{
    h2 {
      color: #fff;
      font-weight: 400;
    }
    display: block;
    .widget-area {
      margin: 0;
      background: $color__green_main;

      .widget {
        width: 48px;
      }
    }
    @include desktop-lg {
      display: block;
      margin-top: 2rem;
      .widget-area {
        // margin-top: 2rem;
        padding: 2rem 2rem 4rem;
      }
    }
  }
}
