// Styling for site header
header .donate-button a {
  margin-right: 1rem;
}
.site-header {
  display: flex;
  justify-content: space-between;
  background: $color__green_main;
  align-items: center;
  height: 3.75rem;
  @include desktop {
    height: 140px;
    display: grid;
    grid-template-areas: 'a b c';
  }
  p {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0;
  }
  .site-branding a {
    display: flex;
    align-items: center;
    @include desktop {
      grid-area: a;
      transform: scale(3);
      margin-left: 6rem;
    }
  }
  img {
    height: 1.1rem;
    @include desktop {
      height: 1.5rem;
      margin-left: 0.5rem;
    }
  }
  .main-navigation {
    @include desktop {
      grid-area: b;
      width: auto;
      margin-left: 4rem;
      // width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
    .nav-menu-container {
      @include desktop {
        background: none;
      }
    }
  }
  .donate-button {
    @include desktop {
      grid-area: c;
      transform: scale(1.5);
      margin-right: 3rem !important;
    }
  }
  .social-links {
    @include desktop {
      display: none;
    }
  }
}

.ca-tld {
  text-transform: lowercase;
  color: white;
  font-size: 14px;
}

#primary-menu {
  @include desktop {
    display: flex;
  }
}
