/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
  color: $color__link;
  text-decoration: none;

  &:visited {
    color: $color__link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

/* Menus */

.main-navigation {
  // clear: both;
  display: block;
  // float: left;
  width: 15%;
  overflow: hidden;

  .nav-menu-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;

    // Animate
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: 0.3s;

    position: fixed;
    top: 106px; //dani: pushing bckground with opacity down
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(white, 1); //background color for hamburger menu
  }

  ul {
    // display: none;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      // float: left;
      // position: absolute;
      top: $base__space-unit;
      // left: -999rem;
      // z-index: 99999;

      ul {
        // left: -999rem;

        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          // left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }
  li {
    // float: left;
    // position: relative;
    &:nth-child(1) {
      //dani: tomake menu items pushed down
      margin-top: 1rem;
      @include desktop {
        margin-top: 0;
      }
    }
    &:hover > a,
    &.focus > a {
    }
  }
  a {
    //dani: to format links of menu
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem 0;
    font-weight: 600;
    @include desktop {
      margin-right: 5rem;
      color: white;
      border-bottom: 3px solid $color__green_main;
      font-family: $font__title;
      font-weight: 200;
      letter-spacing: 1px;
      &:hover,
      &:focus {
        border-bottom: 3px solid #979797;
      }
    }
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a {
  }
}

.menu-toggle {
  position: relative;
  z-index: 100;
}
.menu-nav-container {
  text-align: center;
}
/* Menu Toggled */
.main-navigation.toggled {
  .nav-menu-container {
 // Animate
 opacity: 1;
 height: 100vh;
 position: absolute;
 top: 106px;//dani: pushing bckground with opacity down
 left: 0;
 right: 0;
 bottom: 0;
 z-index: 99;
//  justify-content: start;//dani: making menu items move up
//  align-items: center;
 height: 28rem;
  }

  ul {
    @media screen and (min-width: $mobile_width) {
      position: static;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      height: auto;
    }
  }
}

@media screen and (min-width: $mobile_width) {
  // Hamburger Menu Container
  .menu-toggle {
    display: none;
  }
  // Primary Navigation
  .main-navigation {
    .nav-menu-container {
      // Animate
      opacity: 1;
      height: auto;
      overflow: hidden; //dani: hiding overflow for sizes larger than mobile

      position: static;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
    ul {
    }
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 $base__space-unit;
    overflow: hidden;
  }

  .nav-previous {
    // float: left;
    width: 50%;
  }

  .nav-next {
    // float: right;
    text-align: right;
    width: 50%;
  }
}
