/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.home {
  p {
    font-family: Raleway, serif;
    font-weight: 700;
    color: red;
    font-size: 3rem;
  }
  h2 {
    font-family: Montserrat, sans-serif;
    font-size: 4rem;
  }
}
