/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
h2 {
  //titles
  text-align: center;
  font-size: 2.4rem;
  color: $color__text-main;
  font-weight: 600;
}

ul {
  list-style-type: none;
}
.story-info {
  border-bottom: 4px solid $color__button-yellow;
  & > h2 {
    max-width: 23rem;
    margin: 0 auto;
  }
  & p:nth-of-type(2) {
    margin: 0 auto;
    max-width: 424px;
    font-weight: 400;
    font-size: 1.7rem;
  }
}
.impact-grid {//grid for impact circles
  display: grid;
  text-align: center;
  max-width: 620px;
  margin: 0 auto;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);

  // grid: repeat(3, 12vw) / auto-flow;
  font-size: 1.5rem;
  .impact-value {
    font-size: 4rem;
    font-weight: 700;
  }
  & li:nth-of-type(1) {
    width: 200px;
    height: 200px;
    overflow-wrap: break-word;
    grid-row: 1/5;
    grid-column: 2/6;
    background: $color__background-ins;
    border-radius: 50%;
  }
  & li:nth-of-type(2) {
    width: 200px;
    height: 200px;
    overflow-wrap: break-word;
    grid-row: 1/5;
    grid-column: 8/12;
    background: $color__background-ins;
    border-radius: 50%;
  }
  & li:nth-of-type(3) {
    width: 200px;
    height: 200px;
    overflow-wrap: break-word;
    grid-row: 5/9;
    grid-column: 5/9;
    background: $color__background-ins;
    border-radius: 50%;
  }
  & li:nth-of-type(4) {
    width: 200px;
    height: 200px;
    overflow-wrap: break-word;
    grid-row: 9/13;
    grid-column: 2/6;
    background: $color__background-ins;
    border-radius: 50%;
  }
  & li:nth-of-type(5) {
    width: 200px;
    height: 200px;
    overflow-wrap: break-word;
    grid-row: 9/13;
    grid-column: 8/12;
    background: $color__background-ins;
    border-radius: 50%;
  }
}

.section-title,
.initiatives h2 {
  //our initiatives
  background: $color__green_main;
  color: $color__background-body;
  padding: 0.7rem 0rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.initiatives-content-wrapper {
  p {
    max-width: 570px;
    margin: 0 auto;
    padding-bottom: 1.5rem;
  }
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.7rem;
  border-bottom: 4px solid $color__button-yellow;
}

.mission-img {
  //our mission
  width: 250px;
  height: 250px;
  max-height: auto;
  margin: 0 auto;
  position: relative;
  top: -26px;
}
.green-img-bar {
  //background for our mission img
  height: 200px;
  background: $color__background-green-pale;
  margin: 5rem 0;
  top: 300px;
}

.mission {
  margin-bottom: 5rem;

  p {
    margin: 0 auto;
    max-width: 528px;
    font-weight: 400;
    font-size: 1.7rem;
  }
}

.languages {
  // ul{
  //   margin: 0;
  // }
  h3 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.8rem;
    // transform: scaleY(.8);
    margin-bottom: 3rem;
  }
}
.language-img {
  text-align: center;
  margin: 2rem 0 6rem 0;
  img {
    width: 40%;
    height: auto;
    box-shadow: 3px 3px 10px gray;
    border-radius: 50%;
  }
}

.language-grid {
  //languages grid

  display: grid;
  grid-template-columns: auto auto auto auto;
  font-size: 1.5rem;
  font-weight: 600;
  color: $color__link-visited;
  margin: 0 auto;
  text-align: center;
  li {
    padding: 1.5rem;
    overflow: auto;
  }
}
