.popup-inner {
  display: none;
  background: white;
  position: absolute;
  height: 45rem;
  width: 50vw;
  top: 0;
  left: 25%;
  right: 0;
  bottom: 0;
  border: 10px solid #98a8ad;
  border-radius: 20px;
  background: #fbeecd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  i {
    transform: scale(4);
    padding-bottom: 3rem;
    // margin-top: 4rem;
    padding-top: 2rem;
  }
  p {
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  a {
    text-decoration: underline;
    margin: 0;
  }
}
.site-content {
  position: relative;
}
