.reports-info-img {
  display: flex;
  margin-top: 5rem;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  .section-title {
    margin: 0;
    font-size: 3rem;
    text-align: left;
  }
  .reports-info {
    width: 50%;
  }
  .reports-img-grid {
    display: flex;
    margin-left: 2rem;
  }
  .reports-image-single {
    margin-right: 1.5rem;
  }
}

.reports-version-archive {
  display: flex;
  margin-top: 2rem;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
  .reports-version-latest {
    display: flex;
    flex-direction: column;
    width: 63%;
  }
}

.reports-version-latest,
.reports-archive {
  .section-title {
    width: 100%;
    font-size: 3rem;
    text-align: left;
    margin: 0;
    margin-bottom: 3rem;
  }
}

.reports-version-latest {
  a {
    color: white;
    border: 2px solid black;
    background: $color__button-dark-green;
    border-radius: 15px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &:hover {
      background: lighten($color__button-dark-green, 20);
      border: white;
    }
  }
}

.reports-dl {
  width: 40%;
  p {
    margin-bottom: 4rem;
  }
  a {
    margin-left: 1.5rem;
  }
}

.reports-image {
  display: inline-block;
  margin-right: 3rem;
  img {
    border: 20px solid $color__button-yellow;
  }
}

.reports-img-dl {
  display: inherit;
}
