.services-all-container .title-no-bg {
  margin-top: 2rem;
}
.services-fees-container .site-main h2:nth-child(2) {
  margin-top: 1.5rem;
}
.services-fees-container {
  @include desktop {
    //hiding nav for single-page services in desk
  }
}
.services-all-container {
  @include desktop {
    //changing background for h2 services in desk
    .no-turn-down {
      h2 {
        font-size: 2rem;
        margin: 7rem 0 1rem;
      }
      p {
        //We turn no one down
        text-align: center;
        font-size: 1.2rem;
        margin: 1rem 0 5rem;
      }
    }
    // & main > h2 {
    //   font-size: 2.5rem;
    //   text-align: left;
    //   margin-left: 6rem;
    // }
    // .mental-wb-wrapper h2,
    // .family-serv-wrapper h2,
    // .services-fee-wrapper h2 {
    //   background: none;
    //   color: $color__text-main;
    // }
    .services-fee-wrapper {
      border: 2px solid $color__button-yellow;
      border-radius: 20px;
      max-width: 26rem;
      box-shadow: 3px 3px $color__button-yellow;
      height: 31rem;
      margin-top: 3rem;
      margin-left: 6rem;
    }
  }
}
.asterisk,
.index-service {
  //showing asterisk after fee just on desktop
  display: none;
  @include desktop {
    display: inline-block;
  }
}

.services-all-container .councelling-wrapper {
  margin: 6rem 0;
  h2 {
    font-size: 2.2rem;
  }
  p {
    text-align: center;
    font-size: 1.2rem;
  }
}

.services-mwb,
.services-family {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  margin-top: -3rem;
  .btn {
    @include shadow-btn-bright(5px, 10px 16px, $color__green_main);
    font-size: 1.2rem;
    font-weight: 200;
    color: #fff;
    background: $color__button-dark-green;
    margin: 0.5rem 0;
    width: 24rem;
    @include desktop {
      //takeing of the button format from links
      @include reset-to-link();
    }
  }
}
@include desktop {
  .whole-service-grid {
    //flex container for the whole services in desk
    h2 {
      margin: 3.5rem 1rem;
      text-align: left;
      font-size: 2rem;
    }
    display: flex;
  }
}

@include desktop {
  .fee-service-container {
    display: flex;
    flex-wrap: wrap;
  }
}
@include desktop {
  .mental-wb-wrapper {
    margin-left: 5rem;
  }
}
.fees-top {
  display: flex;
  justify-content: center;
  @include desktop {
    display: block;
  }
  .fees-single,
  .fees-family {
    padding: 4rem 2rem;
    @include desktop {
      padding: 1rem 1rem;
    }
  }
  .fees-single {
    border-right: 3px solid $color__green_main;
    @include desktop {
      border: none;
    }
  }
}
.fees-bottom {
  p:nth-child(1) {
    border-top: 3px solid $color__green_main;
    padding: 4rem 2rem 0;
    text-align: center;
    @include desktop {
      border: none;
      text-align: left;
      padding: 0 1rem;
      max-width: 30rem;
    }
  }
  & p:nth-child(2) {
    //targrting insurance text
    @include desktop {
      text-align: left !important;
      padding: 0 1rem;
    }
  }
}
.services-fees {
  & > h2 {
    margin-bottom: 0;
    @include desktop {
      text-align: left;
      padding-left: 1rem;
      margin-top: 1rem;
    }
  }
  font-size: 1.2rem;
  @include desktop {
    display: flex;
    flex-direction: column;
  }
}
.services-get {
  font-size: 1.2rem;
  text-align: center;
  border-bottom: 3px solid $color__button-yellow;
  padding-bottom: 4rem;
  p {
    width: 26rem;
    margin: 0 auto;
  }

  @include desktop {
    h2 {
      background: $color__background-green-pale;
      padding: 3rem 0;
      color: $color__text-main;
      font-size: 3rem;
      margin: 0;
    }
    border-bottom: none;
    padding: 0;
  }
}
.email-counseling {
  display: flex;
  flex-direction: column;
  align-items: center;
  & + p {
    width: 16rem;
    margin: 0 auto;
  }
  input {
    width: 18rem;
    margin: 2rem 0;
    padding: 1rem 2rem;
    border: 3px solid #0b2b34;
    text-align: center;
    border-radius: 0.5rem;
    &::placeholder {
      font-size: 1.2rem;
    }
  }
  a {
    @extend.donate-button;
    max-width: 15rem;
    @include desktop {
      display: none;
    }
  }
}
.services-info {
  & > h2 {
    font-size: 1.2rem;
  }
}
.counselling-download {
  display: flex;
  img {
    height: 30rem;
    margin: 2rem 12rem;
  }

  .download-frm-btn-wrapper {
    & p:nth-child(1) {
      font-size: 1.5rem;
      width: 100%;
      font-weight: 600;
      margin: 3rem 0 6rem 0;
    }
    & p:nth-child(3) {
      font-size: 1.2rem;
      width: 100%;
      margin-top: 6rem;
      font-weight: 600;
    }

    display: flex;
    flex-direction: column;
    .form-btn-wrapper {
      display: flex;
      a {
        @include shadow-btn-bright(8px, 15px 5px, $color__green_main);
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0 1rem;
        width: 18rem;
        &:hover {
          color: lighten($color__button-yellow, 10%);
          background: darken($color__button-yellow, 10%);
        }
      }
    }
  }
}

.single-service-content p {
  margin: 0 5rem;
  font-size: 1.2rem;
  text-align: center;
}

.single-service,
.single-story {
  .site-content nav {
    margin: 1rem 0 0 1rem;
    .fas {
      font-size: 1.5rem;
      padding-top: 0.2rem;
    }
    a {
      font-size: 1.2rem;
      color: $color__link-color;
    }
  }
}

.referrals-wrapper {
  & p:nth-child(2) {
    font-size: 1.5rem;
    width: 100%;
    font-weight: 600;
    margin: 3rem 0 3rem 0;
  }
  .download-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    a {
      @include shadow-btn-bright(8px, 15px 5px, $color__green_main);
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0 1rem;
      width: 18rem;
      &:hover {
        color: lighten($color__button-yellow, 10%);
        background: darken($color__button-yellow, 10%);
      }
    }
  }
  text-align: center;
  h2 {
    background: $color__background-green-pale;
    padding: 3rem 0;
    color: $color__text-main;
    font-size: 3rem;
    margin: 0;
  }
  .fax-icon {
    .fas {
      font-size: 4rem;
      font-weight: 100rem;
    }
  }
}
.services-all-container .title-no-bg {
  margin-top: 2rem;
}
.services-fees-container .site-main h2:nth-child(2) {
  margin-top: 1.5rem;
  // @include desktop {
  //   margin-bottom: 4rem;
  //   font-size: 2rem;
  // }
}
.services-fees-container {
  @include desktop {
    //hiding nav for single-page services in desk
    nav {
      // display: none;
    }
  }
}
.services-all-container,
.single-service-desktop {
  @include desktop {
    //changing background for h2 services in desk
    & main > h2 {
      font-size: 2.5rem;
      text-align: left;
      margin-left: 6rem;
    }
    .mental-wb-wrapper h2,
    .family-serv-wrapper h2,
    .services-fee-wrapper h2 {
      background: none;
      color: $color__text-main;
    }
    .family-serv-wrapper{
      margin-left: 3vw;
    }
    .services-fee-wrapper {
      border: 2px solid $color__button-yellow;
      border-radius: 20px;
      max-width: 26rem;
      box-shadow: 3px 3px $color__button-yellow;
      height: 31rem;
      margin-top: 3rem;
      margin-left: 6rem;
    }
    .services-info h2 {
      font-size: 1.5rem;
    }
  }
}
.asterisk,
.index-service {
  //showing asterisk after fee just on desktop
  display: none;
  @include desktop {
    display: inline-block;
  }
}

.services-all-container .councelling-wrapper {
  margin: 6rem 0;
  h2 {
    font-size: 2.2rem;
  }
  p {
    text-align: center;
    font-size: 1.2rem;
  }
}

@include desktop {
  .whole-service-grid {
    //flex container for the whole services in desk
    h2 {
      margin: 3.5rem 1rem;
      text-align: left;
      font-size: 2rem;
    }
    display: flex;
    flex-wrap: wrap;
  }
}

@include desktop {
  .mental-wb-wrapper {
    margin-left: 3vw;
  }
}
.fees-top {
  display: flex;
  justify-content: center;
  @include desktop {
    display: block;
  }
  .fees-single,
  .fees-family {
    padding: 4rem 2rem;
    @include desktop {
      padding: 1rem 1rem;
    }
  }
  .fees-single {
    border-right: 3px solid $color__green_main;
    @include desktop {
      border: none;
    }
  }
}
.fees-bottom {
  p:nth-child(1) {
    border-top: 3px solid $color__green_main;
    padding: 4rem 2rem 0;
    text-align: center;
    @include desktop {
      border: none;
      text-align: left;
      padding: 0 1rem;
      max-width: 30rem;
    }
  }
  & p:nth-child(2) {
    //targrting insurance text
    @include desktop {
      text-align: left !important;
      padding: 0 1rem;
    }
  }
}
.services-fees {
  & > h2 {
    margin-bottom: 0;
    @include desktop {
      text-align: left;
      padding-left: 1rem;
      margin-top: 1rem;
    }
  }
  font-size: 1.2rem;
  @include desktop {
    display: flex;
    flex-direction: column;
  }
}
.services-get {
  font-size: 1.2rem;
  text-align: center;
  border-bottom: 3px solid $color__button-yellow;
  padding-bottom: 4rem;
  p {
    width: 26rem;
    margin: 0 auto;
  }

  @include desktop {
    h2 {
      background: $color__background-green-pale;
      padding: 3rem 0;
      color: $color__text-main;
      font-size: 3rem;
      margin: 0;
    }
    border-bottom: none;
    padding: 0;
  }
}
.email-counseling {
  display: flex;
  flex-direction: column;
  align-items: center;
  & + p {
    width: 16rem;
    margin: 0 auto;
  }
  input {
    width: 18rem;
    margin: 2rem 0;
    padding: 1rem 2rem;
    border: 3px solid #0b2b34;
    text-align: center;
    border-radius: 0.5rem;
    &::placeholder {
      font-size: 1.2rem;
    }
  }
  a {
    @extend.donate-button;
    max-width: 15rem;
  }
}
.services-info {
  & > h2 {
    font-size: 1.2rem;
  }
}
.services-info-bubbles ul {
  //services circles styling
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(2, 1fr);
  li {
    font-weight: 600;
    text-align: center;
    padding: 0 1rem;
    @include desktop {
      text-align: left;
      display: flex;
      padding: 0 2rem;
    }
    a {
      text-decoration: underline;
      @include desktop {
        margin-top: 1rem;
        margin-left: 0.5rem;
        border-bottom: 0;
        text-decoration: underline;
      }
    }
    margin-bottom: 3rem;
    & > p {
      margin-bottom: 0rem;
      @include desktop {
        margin-top: 1rem;
      }
    }
    &:nth-child(3) {
      margin-bottom: 4rem;
    }
    i {
      min-width: 90px;
      height: 90px;
      background: $color__green_main;
      padding-top: 1.6rem;
      border-radius: 50%;
      color: #fff;
      font-size: 2.5rem;
      margin-bottom: 1rem;
      @include desktop {
        padding-left: 1.7rem;
        margin-right: 1rem;
      }
    }
  }
}

.download-frm-btn-wrapper {
  & p:nth-child(1) {
    font-size: 1.5rem;
    width: 100%;
    font-weight: 600;
    margin: 3rem 0 6rem 0;
  }
  & p:nth-child(3) {
    font-size: 1.2rem;
    width: 100%;
    margin-top: 6rem;
    font-weight: 600;
  }

  display: flex;
  flex-direction: column;
  .form-btn-wrapper {
    display: flex;
    a {
      @include shadow-btn-bright(8px, 15px 5px, $color__green_main);
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0 1rem;
      width: 18rem;
      &:hover {
        color: lighten($color__button-yellow, 10%);
        background: darken($color__button-yellow, 10%);
      }
    }
  }
}

.services-last-para {
  //last paragraph only visible in desktop view
  width: 27rem;
  text-align: left;
}

.single-service-content p {
  margin: 0 5rem;
  font-size: 1.2rem;
  text-align: center;
}

.single-service,
.single-story {
  .site-content nav {
    margin: 1rem 0 0 1rem;
    .fas {
      font-size: 1.5rem;
      padding-top: 0.2rem;
    }
    a {
      font-size: 1.2rem;
      color: $color__link-color;
    }
  }
}

.referrals-wrapper {
  //referral section for desktop
  & p:nth-child(2) {
    font-size: 1.5rem;
    width: 100%;
    font-weight: 600;
    margin: 3rem 0 3rem 0;
  }
  .download-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    a {
      @include shadow-btn-bright(8px, 15px 5px, $color__green_main);
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0 1rem;
      width: 18rem;
      &:hover {
        color: lighten($color__button-yellow, 10%);
        background: darken($color__button-yellow, 10%);
      }
    }
  }
  text-align: center;
  h2 {
    background: $color__background-green-pale;
    padding: 3rem 0;
    color: $color__text-main;
    font-size: 3rem;
    margin: 0;
  }
  .fax-icon {
    & + p {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 6rem;
    }
    margin: 4rem 0;
    .fas {
      font-size: 4rem;
      font-weight: 100rem;
      margin-right: 1rem;
    }
    .fax-no {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}

.single-service-mobile {
  display: block;
  @include desktop {
    display: none;
  }
}

.single-service-desktop {
  display: none;
  @include desktop {
    display: block;
    .left-title {
      text-align: left;
      background: none;
      margin: 0;
      color: black;
      margin-left: 2rem;
    }
    .section-title {
      font-size: 2rem;
    }
    .services-fee-wrapper {
      margin-left: 60rem;
      position: relative;
    }
    .singleserviceinfo {
      position: absolute;
      top: 8%;
      left: 10%;
      width: 50%;
      p {
        font-size: 2.5rem;
      }
    }
    .visible-desktop {
      h2 {
        text-align: center;
        font-size: 3rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
      }
      p {
        text-align: center;
        font-size: 1.5rem;
      }
    }
    .fees-bottom p:first-child {
      margin: 0;
      margin-bottom: 1rem;
    }
  }
}
