.single-story {
  img {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    padding: 1rem 0;
  }
  h2 {
    margin: 2rem 0;
  }

  .story-main {
    p:nth-child(3) {
      padding: 1rem;
    }
    p:nth-child(5) {
      margin-bottom: 5rem;
    }
    h2:nth-child(2) {
      border-top: 2px solid $color__button-yellow;
      margin-top: 0rem;
      padding-top: 2rem;
    }
    p {
      font-weight: 600;
      font-size: 1.2rem;
      padding: 1rem 4rem;
    }
  }
}
.story-mffs {
  p:nth-child(3) {
    border-top: 2px solid $color__button-yellow;
    font-weight: 600;
      font-size: 1.2rem;
      padding: 2rem 4rem;
  }
}

.story-future {
  p:nth-child(3) {
    border-top: 2px solid $color__button-yellow;
    margin-top: 0rem;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 2rem 4rem 8rem;

  }
}
