.testimonial-single {
    // position: relative;
    p{
margin-right: auto;
margin-top: 1rem;
text-align: right;
        // position: absolute;
    }
  &:nth-child(odd) {
    background: $color__button-yellow;
    max-width: 30rem;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 200;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
  }
  &:nth-child(even) {
    max-width: 30rem;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 200;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
  }
  .dash{
      margin-right: .5rem;
  }
}
